---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}
        <div id="gitmentContainer"></div>
        <link rel="stylesheet" href="/css/imsun/default.css">
        <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
        <script>
        var gitment = new Gitment({
            owner: 'Nh-touch',
            repo: 'Nh-touch.github.io',
            oauth: {
                client_id: 'f1a43b541ab8887000d0',
                client_secret: '3ef7b09c21bab374e571c5413c03fa210de2559e',
            },
        });
        gitment.render('gitmentContainer');
        </script>

       <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 
        <div style = "font-size:0.5px;color:grey;" align = "right">
        HZJun [<span id="busuanzi_value_page_pv"></span>]
        </div>
    </div>

    <div class="sidenav">
		<iframe width="100%" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=75&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1842391492&verifier=7f8d4909&dpc=1"></iframe>
    </div>

    {% if page.show_music %}
        <div class="sidenav">
                <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=100% height=52 src="{{ page.music_addr }}"></iframe>
        </div>
    {% endif %}
    {% if page.show_localmusic %}
            <audio src="{{ page.music_addr }}" style="margin-left:-520px" controls autoplay></audio>
    {% endif %}
    


    <div class="sidenav">
        <h2>Blog</h2>
        <ul class="artical-list">
        {% for post in site.categories.blog%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Opinion</h2>
        <ul class="artical-list">
        {% for post in site.categories.opinion%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Project</h2>
        <ul class="artical-list">
        {% for post in site.categories.project%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>

<script src="/js/post.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.goup.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.goup({
                trigger: 100,
                bottomOffset: 50,
                locationOffset: 50,
                title: 'Top',
                titleAsText: true
            });
        });
    </script>

<script type="text/javascript" >
var jiathis_config={
    siteNum:5,
    sm:"weixin,tsina,ydnote,googleplus,linkedin",
    summary:"",
    shortUrl:false,
    hideMore:false
}
</script>

